<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eagleapp.com.holidaynotify" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".activity.HolidayNotify"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/upcoming_holidays"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.preferences.SettingsActivity"
            android:label="@string/title_activity_settings" >
            android:parentActivityName="eagleapp.com.holidaynotify.activity.MainActivity"
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eagleapp.com.holidaynotify.activity.MainActivity" />
        </activity>

        <receiver
            android:name=".notification.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".notification.NotificationService"
            android:exported="false" >
        </service>
    </application>

</manifest>
